/* xs */
@media (min-width: 640px) {}

/* sm */
@media (min-width: 768px) {

    /* ------------------------------------------------------------------- */
    /* nav bar */
    .container .logo h1 {
        padding: 0;
        margin: 0;
    }

    

    /* -------------------------------------------------------- */
    /* intro */
    .intro {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 90px 0px;
        padding: 20px 90px;
    }

    picture {
        width: 40%;
    }

    .intro .content {
        width: 40%;
        justify-content: flex-start;
        text-align: left;
    }

    .intro .content .book-button {
        border-radius: 0px 50px 50px 50px;
    }

    /* -------------------------------------------------------- */
    /* chefs */
    .chefs {
        margin: 90px 0px;
    }

    .chefs-cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        width: 50%;
    }

    /* -------------------------------------------------------- */
    /* contact */
    .contact-items {
        margin: 20px 0px;
    }

    .layer {
        width: 50%;
        padding: 5px;
    }

    .contact-container {
        height: 100%;
    }

    /* gallery */

    .gallery-container {
        column-count: 2;
        margin: 50px;
        gap: 15px;
        }
        .gallery {
            padding: 50px;
        }


}

/* md */
@media (min-width: 1024px) {

    /* -------------------------------------------------------- */
    /* chefs */
    .card {
        width: 33.3333%;
    }

    /* -------------------------------------------------------- */
    /* contact */

    #name-input,
    #email-input {
        width: 50%;
    }

    /* -------------------------------------------------------- */
    /* gallery */

    .gallery-container {
    column-count: 3;
    margin: 50px;
    gap: 15px;
    }
    .gallery {
        padding: 50px;
    }
    
}


/* lg */
@media (min-width: 1280px) {}

/* xl */
@media (min-width: 1536px) {}