/* xs */
@media (min-width: 640px) {}

/* sm */
@media (min-width: 768px) {

    /* ------------------------------------------------------------------- */
    /* nav bar */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .1);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 5px;
        margin: 0px 107px;
    }

    .container .logo h1 {
        padding: 0;
        margin: 0;
    }

    .dark-mode-icon {
        display: inline-block;
    }

    .container ul {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .container .menu li {
        margin: 0px 16px;
    }

    .under-line {
        position: relative;
        padding: 6px 0px;
    }

    .under-line::before {
        content: '';
        width: 0;
        height: 2px;
        background-color: rgb(206, 18, 18);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width .5s;
    }

    .under-line:hover::before {
        width: 100%;
    }

    .container .dark-mode-icon {
        visibility: visible;
    }

    /* -------------------------------------------------------- */
    /* intro */
    .intro {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 90px 0px;
        padding: 20px 90px;
    }

    picture {
        width: 40%;
    }

    .intro .content {
        width: 40%;
        justify-content: flex-start;
        text-align: left;
    }

    .intro .content .book-button {
        border-radius: 0px 50px 50px 50px;
    }

    /* -------------------------------------------------------- */
    /* chefs */
    .chefs {
        margin: 90px 0px;
    }

    .chefs-cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        width: 50%;
    }

    /* -------------------------------------------------------- */
    /* contact */
    .contact-items {
        margin: 20px 0px;
    }

    .layer {
        width: 50%;
        padding: 5px;
    }

    .contact-container {
        height: 100%;
    }

    /* gallery */

    .gallery-container {
        column-count: 2;
        margin: 50px;
        gap: 15px;
        }
        .gallery {
            padding: 50px;
        }


}

/* md */
@media (min-width: 1024px) {

    /* -------------------------------------------------------- */
    /* chefs */
    .card {
        width: 33.3333%;
    }

    /* -------------------------------------------------------- */
    /* contact */

    #name-input,
    #email-input {
        width: 50%;
    }

    /* -------------------------------------------------------- */
    /* gallery */

    .gallery-container {
    column-count: 3;
    margin: 50px;
    gap: 15px;
    }
    .gallery {
        padding: 50px;
    }
    
}


/* lg */
@media (min-width: 1280px) {}

/* xl */
@media (min-width: 1536px) {}