/* General */

*,
*::after,
*::before {
    box-sizing: border-box;
}


:root {
    --main-color: rgb(206, 18, 18);
    --secondary-site-color: white;
    --main-typing-color: #171717;
    --gray: gray;
    --selector-color: #D85454;
    --main-section-bg: white;
    --section-bg: rgb(238, 238, 238);
    --shadow: rgba(0, 0, 0, .1);
    --black-white: white;
    --dark-gray: rgb(33, 37, 41);
    font-size: 1rem;
}

:root:has(#mood:checked) {
    --main-color: rgb(193, 126, 31);
    --secondary-site-color: #161616;
    --main-typing-color: white;
    --gray: gray;
    --selector-color: #926321;
    --section-bg: #252525;
    --main-section-bg: #202020;
    --shadow: rgba(0, 0, 0, .7);
    --black-white: black;
    --dark-gray: #FFFFFF;

}

/* dark mood */

nav .dark-mode-icon .light,
nav .dark-mode-icon .dark {
    cursor: pointer;
}

nav .dark-mode-icon .light {
    display: none;
}

:root:has(#mood:checked) nav .dark-mode-icon .light {
    display: block;
}

:root:has(#mood:checked) nav .dark-mode-icon .dark {
    display: none;
}


::selection {
    background-color: var(--selector-color);
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-section-bg);
    font-family: "Open Sans", system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E0E0E0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 25%, rgba(43, 43, 49, 1) 81%);
    border-radius: 1.25rem;
    height: 3rem;

}

/* ------------------------------------------------------------------- */
/* nav bar */
nav {
    background-color: var(--secondary-site-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 .125rem .25rem 0 var(--shadow);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.logo h1 {
    color: var(--main-typing-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.logo span {
    color: var(--main-color);
}

.dark-mode-icon {
    display: none;
    font-weight: 900;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: var(--main-typing-color);
}

.container .menu {
    color: var(--gray);
}

.container .menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.container .menu li {
    padding: .5rem;
}

.container .menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--gray);
    font-size: .75rem;
    text-transform: capitalize;
    transition: .2s;
    padding: 0px .5rem;

}

.container .menu a:hover {
    color: var(--main-typing-color);
}

.dark-mode-icon {
    display: inline-block;
}

.under-line {
    position: relative;
    padding: .5rem 0;
}

.under-line::before {
    content: '';
    width: 0;
    height: .125rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s;
}

.under-line:hover::before {
    width: 100%;
}

.container .dark-mode-icon {
    visibility: visible;
}

/* ------------------------------------------------------------------- */
/* intro section */

.intro {
    background-color: var(--section-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 3rem 0;
    margin: 1.5rem 0;
}


.intro .content {
    width: 100%;
    color: var(--main-typing-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.intro .content h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--main-typing-color);
    font-family: "Amatic SC", sans-serif;
    margin: 0;
}

.intro .content p {
    margin: 0 !important;
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--main-typing-color) !important;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

button {
    border: 0;
    color: var(--secondary-site-color);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding: 1rem 1.25rem;
    transition: .5s;
    font-size: .75rem;

}

button:hover {
    background-color: var(--selector-color);
}

button i {
    margin-right: .5rem;
}


picture {
    width: 100%;
    padding: 0 1.5rem;
    margin: 1.5rem 0;
    filter: drop-shadow(.25rem .25rem 1.5rem var(--shadow));
}

picture img {
    width: 100%;
    display: block;

}

picture:hover {
    animation: vibration .7s infinite;
}

@keyframes vibration {
    0% {
        transform: translateX(1px) .1s;
    }

    10% {
        transform: translateX(-1px);

    }

    20% {
        transform: translateY(1px);

    }

    30% {
        transform: translateY(-1px);

    }

    40% {
        transform: translateX(1px);
    }

    50% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateY(3px);

    }

    70% {
        transform: translateY(-3px);
    }

    80% {
        transform: translateX(3px);
    }

    90% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateY(3px);
    }

}

/* ------------------------------------------------------------------- */
/* chefs */
.chefs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    padding: 1.75rem 1rem;
}

.main-title {
    text-align: center;
}

.main-title h2 {
    margin: .75rem;
    color: var(--main-typing-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.main-title p {
    margin: 1rem;
    font-family: "Amatic SC", sans-serif;
    font-size: 3rem;
    color: var(--main-typing-color);
    text-transform: capitalize;
}

.main-title span {
    color: var(--main-color);
}

.card {
    width: 100%;
    text-align: center;
    margin: 1.75rem 0;
}


.card-container {
    position: relative;
    box-shadow: 0 .125rem 1rem 0 var(--shadow);
    transition: transform .5s;
    overflow: hidden;
    background-color: var(--secondary-site-color);
}


.card-social {
    position: absolute;
    top: 10%;
    left: 100%;
    background-color: var(--section-bg);
    align-items: center;
    border-radius: .25rem;
    transition: left .5s;
    z-index: 10;
}

.card-container:hover .card-social {
    left: 85%;
}

.card-social ul {
    margin: 0;
    padding: .5rem .75rem;

}

.card-social li {
    margin: .25rem .25rem;

}

.card-social a {
    color: var(--main-typing-color);

}

.card-social a:hover {
    color: var(--black-white);
}

.card-container:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    position: relative;
}

.card-image::before {
    content: '';
    background-image: url(../images/team-shape.svg);
    fill: var(--secondary-site-color);
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -.25rem;
    min-height: 3rem;
}

/* #mood:checked */
:root:has(#mood:checked) .card-image::before {
    background-image: url(../images/team-shape-dark.svg);
}

.card-image img {
    width: 100%;
    display: block;
}

.card-container,
.card-image img {
    border-radius: .5rem;
}

.card-content {
    padding: .5rem;
}

.card-content h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dark-gray);
    font-family: Inter, sans-serif;
}

.card-content span,
p {
    font-size: 1rem;
    color:
        var(--gray);
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-content p {
    font-size: .9rem;
    font-style: italic;
}

/* -------------------------------------------------------- */
/* gallery */

.gallery {
    background-color: var(--section-bg);
    padding: 2.5rem 1rem;
    margin: 3rem 0;
}


.gallery-container {
    margin: 1rem 0;

}

.gallery-container .image {
    border: white .25rem solid;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.gallery-container .black-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0;
    padding: 1.5rem;
}

.gallery-container .black-layer h3 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;


}

.gallery-container .black-layer p,
.gallery-container .black-layer h3 {
    color: white;
}

.gallery-container .image .black-layer {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    transition: top .5s;
}

.gallery-container .image:hover .black-layer {
    top: 0%;
}

.gallery-container img {
    width: 100%;
    display: block;
}

/* ---------------------------------------------------------------------- */
/* contact us */
.contact {
    margin: 3rem 0;
    padding: 2.5rem 1rem;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.layer {
    width: 100%;
    padding: .75rem 0;
}

.contact-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-site-color);
    padding: 1.5rem;
    box-shadow: 0 .125rem .5rem 0 var(--shadow);
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon i {
    background-color: var(--main-color);
    border-radius: 100%;
    padding: 1rem;
    color: white;
    margin-right: .5rem;
}


.details h3 {
    color:
        var(--gray);
    font-size: 1.1rem;
    font-weight: 700;
    margin: .25rem;
}

.details p {
    color: var(--dark-gray);
    font-size: .85rem;
    font-weight: 400;
    margin: 0;
    margin: .25rem;

}

.details span {
    font-weight: 700;
}

form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    box-shadow: 0 .125rem 1rem 0 rgba(0, 0, 0, .1);

}


#name-input,
#email-input,
#text-area,
#subject {
    width: 100%;
    text-transform: capitalize;
    outline: none;
    border: solid .125rem var(--section-bg);
    padding: 1rem;
    margin: .5rem 0;
}

#name-input:focus,
#email-input:focus,
#text-area:focus,
#subject:focus {
    border: solid .125rem var(--main-color);
}

textarea {
    resize: vertical;
}

/* ------------------------------------------ */
/* footer */

footer {
    background-color: #000000;
    background-image: url(/images/textured-metal-background.jpg);
    background-size: contain;
    padding: 2.5rem 1rem;
    position: relative;
    z-index: 1;
}

footer::before {
    content: '';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.logo-section,
.Social-media,
.contact-details,
.subscription,
.quick-links {
    width: 100%;
    order: 1;
}



footer .logo-section {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer .logo-section img {
    width: 3rem;
    height: 3rem;
    margin-right: .75rem;
}

footer .logo-section .logo h1 {
    color: white;
}

footer p {
    color: white;
    font-size: .75rem;
    font-weight: 400;
}

footer .Social-media {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .social-media-icons {
    padding: 0;
}

footer .Social-media h3 {
    width: 100%;
    text-align: center;
    padding: .75rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    border-bottom: var(--gray) 2px solid;
    margin: .75rem 0;

}

footer .Social-media ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

footer .Social-media ul a {
    color: white;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

footer .Social-media ul a:hover {
    color: var(--main-color);
}

.contact-details h3 {
    color: white;
}

footer .contact-details ul {
    color: white;
    padding: 0;
    margin: 0;
}

footer .contact-details ul i {
    color: var(--main-color);
    font-size: 1.5rem;
    margin: .75rem;
}

.subscription h3 {
    color: white;
}

.subscription p {
    font-size: 1rem;
    font-weight: 400;
}

.subscription form {
    margin: 0;
    padding: 0;
}

.subscription button {
    width: 100%;
    border-radius: 0;
    font-size: .75rem;
    
}
#footer-input{
    width: 100%;
    padding: .75rem;
    margin-bottom: .5rem;
    display: flex;
    /* margin-right: .5rem; */
}

footer .quick-links {
    color: white;
    text-transform: capitalize;
}

.quick-links ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.quick-links li {
    width: 50%;
    padding: .25rem;
    transition: translate .5s;
}

.quick-links li:hover {
    background-color: rgba(128, 128, 128, .5);
    translate: .75rem;
}

.quick-links li::before {
    content: "\f105";
    font: var(--fa-font-solid);
    margin-right: .25rem;

}