/* General */
/* mobile first */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

.clear {
    clear: both;
}

/* ------------------------------------------------------------------- */
/* nav bar */
nav {
    background-color: white;
    padding-left: 30px;
    /* position: relative;
    z-index: 9999; */
}

.container .logo h1 {
    color: rgb(33, 37, 41);
    font-weight: 700;
    font-size: 30px;
}

.container .logo span {
    color: rgb(206, 18, 18);
}

.dark-mode-icon {
    display: none;
    font-weight: 900;
    line-height: 25px;
    font-size: 25px;
    color: rgb(33, 37, 41);
}

.container .menu {
    color: lightgray;
}

.container .menu ul {
    padding: 0;
}

.container .menu li {
    list-style-type: none;
    padding: 8px 0px;
}

.container .menu a {
    text-decoration: none;
    font-weight: 600;
    color: gray;
    font-size: 17px;
    text-transform: capitalize;
    transition: .2s;
}

.container .menu a:hover {
    color: black;
}

/* ------------------------------------------------------------------- */
/* intro section */

.intro {
    /* height: 100vh; */
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 50px 0px;
}


.intro .content {
    width: 100%;
    color: rgb(79, 79, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.intro .content h2 {
    font-size: 65px;
    font-weight: 700;
    color: rgb(55, 55, 63);
    font-family: "Amatic SC", sans-serif;
    margin: 0;
}
.intro .content p{
    padding: 16px 0px;
}
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.intro .content button {
    border: 0px;
    color: white;
    background-color: rgb(206, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 16px 20px;


}
.intro .content button i {
    margin-right: 8px;
}


/* .watch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
}
.video-icon{
    padding: 20px;
    background-color: white;
    border-left: 10px solid rgb(206, 18, 18);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid rgb(206, 18, 18);
    border-radius: 100%; 
}*/
.main-dish {
    padding: 0px 20px;
    margin: 20px 0px;
}

.main-dish img {
    width: 100%;
    display: block;

}

.main-dish:hover {
    animation: vibration .7s infinite;
}

@keyframes vibration {
    0% {
        transform: translateX(1px) .1s;
    }

    10% {
        transform: translateX(-1px);

    }

    20% {
        transform: translateY(1px);

    }

    30% {
        transform: translateY(-1px);

    }

    40% {
        transform: translateX(1px);
    }

    50% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateY(3px);

    }

    70% {
        transform: translateY(-3px);
    }

    80% {
        transform: translateX(3px);
    }

    90% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateY(3px);
    }

}